.about {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hello {
  position: relative;
  top: 120px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}

.lolipop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

.round {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  background-color: #915eff;
}

.violet {
  width: 0.25rem;
  height: 10rem;
  background-image: linear-gradient(to bottom, #915eff, #3e0083);
}

.hello h1 {
  color: #fff;
  font-size: 5rem;
}

.hello p {
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.25rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40vh 5vw 20vh;
}

.card {
  background: var(--background);
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 2.4rem 3rem;
  max-width: 350px;
  margin-bottom: 10px;
}

.card:hover {
  background: transparent;
}

.card p {
  font-size: 20px;
}

.card > * {
  margin-bottom: 3vh;
}

.balls {
  display: none;
}

.balls h1 {
  color: #915eff;
  margin-left: 100px;
}

.fa-globe,
.fa-star {
  float: right;
  position: relative;
  top: -50px;
}

.fa-star {
  top: -5px;
}

.services {
  margin: 0 auto;
  text-align: center;
}

.services h1 {
  font-size: 32px;
  color: #915eff;
  text-align: left;
  margin: 0 0 2rem 5vw;
}

.services .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.services .item {
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 30px;
  max-width: 400px;
  flex-grow: 1;
}

.services .item .title {
  font-size: 24px;
  margin-bottom: 20px;
}

.services .description {
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .hello p {
    font-size: 2rem;
  }

  .balls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 200px 0 0;
  }

  .balls div {
    padding: 0;
    width: 200px;
  }
}

@media (max-width: 350px) {
  .hello h1 {
    font-size: 3.8rem;
  }

  .fa-globe {
    left: 20px;
  }
}
