nav {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

nav ul {
  width: 100vw;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}
