.portfolio {
  padding: 0 20px;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card img {
  width: 40vw;
}

.card span > * {
  margin: 0 7vw;
}

.projects {
  display: none;
}

.visit {
  display: none;
}

@media (min-width: 768px) {
  .recent {
    position: relative;
    top: -40px;
    left: 500px;
  }

  .portfolio {
    flex-direction: row;
    align-items: center;
  }

  .portfolio .row {
    display: grid;
    grid-template-columns: 25vw 25vw;
    gap: 10px;
    padding: 10px;
  }

  .projects {
    display: block;
    margin-top: 10px;
  }

  .projects h4 {
    margin: 20px 0;
  }

  .project {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .card img {
    width: 22vw;
  }

  .card span > * {
    margin: 0 5vw;
  }

  .visit {
    display: block;
    position: fixed;
    top: 600px;
    font-weight: 700;
  }
}
