* {
  margin: 0;
}

.dark {
  background-color: #1c1a19;
  color: #ff6b00;
}

.light {
  background-color: #7b39cc;
  color: #ccc;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }

  .home,
  .portfolio,
  .about,
  .contact {
    height: 100vh !important;
    width: 100vw;
  }
}
