* {
  margin: 0;
}

.dark {
  background-color: #000;
  color: #5c6274;
}

.dark a,
.dark .fa,
.dark .download {
  color: #ff6b00;
  text-decoration: none;
}

.light {
  background-color: #7b39cc;
  color: #ccc;
}

.light a,
.light .fa,
.light .download {
  color: #010511;
  text-decoration: none;
}

.hoverdark:hover {
  background-color: #ccc;
}

.hoverlight:hover {
  background-color: blue;
}

@media (min-width: 768px) {
  .home,
  .portfolio,
  .about,
  .contact {
    height: 100vh !important;
    width: 100vw;
  }
}
